* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-toolbar {
    --background: #004ba0;
    --color: #ffffff;
    padding: 8px 12px;
    font-size: 1.5rem;
    font-weight: bold;
}

ion-title {
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 5px;
}

.back-button{
    margin-top: 7px !important;
}

ion-content {
    --background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #e0f7fa;
}

.welcome-container {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.animate-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00bcd4;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-out;
}

.animate-text {
    font-size: 1.3rem;
    color: #b2ebf2;
    margin: 20px 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    animation: slideIn 1.5s ease-out;
}

.animate-button {
    font-size: 1.1rem;
    background: linear-gradient(135deg, #0072ff, #00c6ff);
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    animation: pulse 2s infinite;
    transition: transform 0.3s, background 0.3s;
}

.animate-button:hover {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    transform: scale(1.1);
}

ion-tab-bar {
    --background: #004ba0;
    --color: #ffffff;
    --color-selected: #ffd700;
    font-size: 1rem;
}

ion-tab-button {
    color: #ffffff;
    /* White text for the tab icons */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.game-container {
    padding: 20px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Title styling */
.game-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.game-btn {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.game-btn .emoji {
    font-size: 2.5rem;
}

.game-btn span {
    font-size: 1.3rem;
}

/* Color Variations for Each Button */
.addition-btn {
    background-color: #FF6347;
    /* Tomato Red */
    color: white;
}

.subtraction-btn {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.multiplication-btn {
    background-color: #bb11ca;
    /* Facebook Blue */
    color: white;
}

.division-btn {
    background-color: #ff9800;
    /* Orange */
    color: white;
}

/* Hover and Active Effects */
.game-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.game-btn:active {
    transform: scale(0.98);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

/* Improve Button Layout on Mobile */
@media (max-width: 767px) {
    .game-btn {
        font-size: 1.2rem;
        /* Slightly smaller font size for smaller screens */
        padding: 15px;
    }

    .game-btn .emoji {
        font-size: 2rem;
    }

    .game-btn span {
        font-size: 1.1rem;
    }
}

/* Profile Section */
.profile-info {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
}

/* Profile Image */
.profile-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    border: 4px solid #FF6347;
    /* Optional border for better visibility */
}

/* Overall page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Overall page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Username container */
#username {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Container for input */
.username-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 3px 11px;
    cursor: pointer;
}

/* Editable input field */
.username-input {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff;
    outline: none;
    padding: 3px;
    width: 180px;
    /* Set width to allow space for up to 10 characters */
    text-align: center;
    max-width: 180px;
    /* Allow up to 10 characters */
    overflow-x: auto;
    /* Allow horizontal scrolling if text exceeds input width */
    cursor: text;
}

/* Styling for when the input is focused */
.username-input:focus {
    border-bottom: 2px solid #FF6347;
    background-color: #be1c1c;
}

/* Minimalist approach: No borders, just text and icon */
.username-container {
    border: none;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}

/* For responsiveness */
@media (max-width: 600px) {
    .username-input {
        width: 170px;
        /* Adjust width for smaller screens */
    }
}

.high-scores-container {
    background: #1c4472;
    /* Dark Background for contrast */
    padding: 8px 15px 15px 15px !important;
    border-radius: 15px;
    width: 90%;
    max-width: 332px;
    margin: auto;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.high-scores-header h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ff2f0b;
    /* Vibrant Tomato Red color for heading */
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* High Scores List */
.high-scores-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Each High Score Item */
.high-score-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    /* White text for contrast */
    padding: 12px;
    background: #162e36;
    /* Dark background for each score item */
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.high-score-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.score-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFD700;
}

.score-value {
    font-size: 1.3rem;
    color: #32CD32;
    font-weight: 700;
}

/* Responsive Design for Small Screens */
@media (max-width: 600px) {
    .high-scores-container {
        width: 95%;
        padding: 15px;
    }

    .high-scores-header h3 {
        font-size: 1.5rem;
    }

    .high-score-item {
        font-size: 1rem;
    }
}